 
<div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-white rounded shadow-xl group hover:shadow-2xl">
  <div class="p-5" data-action="click->hello#showHideDetails">
  <div class="flex">
    <div class="ml-2 mb-2 text-sm font-bold text-black"><%= pool.name %></div>
    <div class="ml-2 mb-2 text-sm font-bold text-blue-500"><%= pool.pool_owner %></div>
  </div>
  
    <div class="flex items-end">
      <%= render "image_header", tokens: pool.tokens %>
     
      <%# <div class="text-bottom">OSMO-UST</div> %>
    </div>
    <p class="my-2 font-bold text-2xl"><%= number_to_currency(pool.current_price.round(2)) %></p>
    <div class="flex text-sm leading-5 text-black">
      <div class="text-gray-500">OSMO :</div>
      &nbsp; 
      <div class="font-bold"><%= number_to_currency(@osmo_price) %></div>
    </div>
    <div id="details">DETAILS DETAILS AND DETAILS</div>
  </div>
  
  <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
</div>
