<div x-data="{ show_base_pool: false }" class="relative text-center px-4 py-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 h-screen">
  <a href="/portfolio/<%= @portfolio_name %>" class="flex mb-4 sm:mb-0 text-left text-blue-800 text-l items-center ">
    <i class="fa-solid fa-arrow-left-long"></i>
    <div class="ml-2 hover:underline">Back to portfolio</div>
  </a>
  <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2"><%= @pool.name %> Pool</h3>
  <div class="flex items-center justify-center" x-data="{profit: <%= @previous_daily_pnl_amount >= 0 %>}">
    <div class="text-blue-500 font-medium text-6xl"><%= number_to_currency(@pool.current_price) %></div>
    <div class="ml-4">
      <div class="flex items-center">
        <i x-show="profit" class="fa-solid fa-caret-up text-green-500 text-2xl"></i>
        <i x-show="!profit" class="fa-solid fa-caret-down text-red-500 text-2xl"></i>
        <div class="ml-2 font-medium text-xl <%= @previous_daily_pnl_amount >= 0 ? "text-green-500" : "text-red-500" %>"><%= @previous_daily_pnl %>%</div>
      </div>
      <div class="font-medium text-xl <%= @previous_daily_pnl_amount >= 0 ? "text-green-500" : "text-red-500" %>">(<%= number_to_currency(@previous_daily_pnl_amount) %>)</div>
    </div>
  </div>
  <% unless @base_pool_stats.nil? %>
  <%= render 'show_base_pool_stats' %>
  <% end %>
  <%= render 'stats_card' %>
  <div x-data="{}">
    <div id="tabs">
      <%= render 'tab' %>
    </div>
    <div class="text-left mt-4 ml-4 text-2xl"><%= @pool.name %> Pool Historical Chart</div>
    <div class="mt-8" x-show="'<%= @chart_type %>' == 'value'">
      <%= area_chart @pool_price_hash, adapter: "highcharts" %>
    </div>
    <div class="mt-8" x-show="'<%= @chart_type %>' == 'apy'">
      <%= area_chart @pool_apy_hash, adapter: "highcharts" %>
    </div>
    <div class="mt-8" x-show="'<%= @chart_type %>' == 'tvl'">
      <%= area_chart @pool_tvl_hash, adapter: "highcharts" %>
    </div>

    <div class="mt-8" x-show="'<%= @chart_type %>' == 'base-pool-apy'">
      <%= area_chart @base_pool_apy_hash, adapter: "highcharts" %>
    </div>

    <div class="mt-8" x-show="'<%= @chart_type %>' == 'base-pool-tvl'">
      <%= area_chart @base_pool_tvl_hash, adapter: "highcharts" %>
    </div>
  </div>
