<div class="relative text-center px-4 py-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 h-screen">
  <a href="/portfolio/<%= @portfolio_name %>" class="flex mb-4 sm:mb-0 text-left text-blue-800 text-l items-center ">
    <i class="fa-solid fa-arrow-left-long"></i>
    <div class="ml-2 hover:underline">Back to portfolio</div>
  </a>
  <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2"><%= @pool.name %> Pool</h3>
  <div class="flex items-center justify-center" x-data="{profit: <%= @previous_daily_pnl_amount >= 0 %>}">
    <div class="text-blue-500 font-medium text-6xl"><%= number_to_currency(@pool.current_price) %></div>
    <div class="ml-4">
      <div class="flex items-center">
        <i x-show="profit" class="fa-solid fa-caret-up text-green-500 text-2xl"></i>
        <i x-show="!profit" class="fa-solid fa-caret-down text-red-500 text-2xl"></i>
        <div class="ml-2 font-medium text-xl <%= @previous_daily_pnl_amount >= 0 ? "text-green-500" : "text-red-500" %>"><%= @previous_daily_pnl %>%</div>
      </div>
      <div class="font-medium text-xl <%= @previous_daily_pnl_amount >= 0 ? "text-green-500" : "text-red-500" %>">(<%= number_to_currency(@previous_daily_pnl_amount) %>)</div>
    </div>
  </div>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div x-data>
    <dl class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow-md divide-y divide-gray-200 md:grid-cols-3 md:divide-y-0 md:divide-x">
      <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">Total Value Locked</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
          <div class="flex flex-col items-baseline text-2xl font-semibold text-indigo-600">
            <%= number_to_currency(@pool_stats.tvl, strip_insignificant_zeros: true) %>
            <span class="text-sm font-medium text-gray-500"> 7-day average: <%= number_to_currency(@pool_stats.tvl_7d_average, strip_insignificant_zeros: true) %> </span>
          </div>
          <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm <%= @tvl_7d_pnl_percentage >= 0 ? "bg-green-100 text-green-800" : "bg-red-100 text-red-800" %> font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">                                
              <i x-cloak x-show="<%= @tvl_7d_pnl_percentage %> >= 0" class="fa-solid fa-arrow-up text-green-500 mr-1"></i>
              <i x-cloak x-show="<%= @tvl_7d_pnl_percentage %> < 0" class="fa-solid fa-arrow-down text-red-500 mr-1"></i>
              <span class="sr-only"> Increased by </span>
              <%= @tvl_7d_pnl_percentage.round(2) %>%
          </div>
        </dd>
      </div>
      <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">APY</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
          <div class="flex flex-col items-baseline text-2xl font-semibold text-indigo-600">
            <%= @pool_stats.apr.round(2) %>%
            <span class="text-sm font-medium text-gray-500"> 7-day average: <%= @pool_stats.apy_7d_average.round(2) %>% </span>
          </div>
          <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium <%= @apy_7d_pnl_percentage >= 0 ? "bg-green-100 text-green-800" : "bg-red-100 text-red-800" %> md:mt-2 lg:mt-0">          
            <i x-cloak x-show="<%= @apy_7d_pnl_percentage %> >= 0" class="fa-solid fa-arrow-up text-green-500 mr-1"></i>
            <i x-cloak x-show="<%= @apy_7d_pnl_percentage %> < 0" class="fa-solid fa-arrow-down text-red-500 mr-1"></i>
            <span class="sr-only"> Increased by </span>
            <%= @apy_7d_pnl_percentage.round(2) %>%
          </div>
        </dd>
      </div>
      <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">Total P/L</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
          <div class="flex flex-col items-baseline text-2xl font-semibold text-indigo-600">
            <%= number_to_currency(get_total_pnl_amount) %>
            <span class="ml-2 text-sm font-medium text-gray-500"> from <%= number_to_currency(@pool.initial_capital) %> </span>
          </div>
          <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium <%= get_total_pnl_amount >= 0 ? "bg-green-100 text-green-800" : "bg-red-100 text-red-800" %>  md:mt-2 lg:mt-0">
            <i x-cloak x-show="<%= @total_pnl_percentage %> >= 0" class="fa-solid fa-arrow-up text-green-500 mr-1"></i>
            <i x-cloak x-show="<%= @total_pnl_percentage %> < 0" class="fa-solid fa-arrow-down text-red-500 mr-1"></i>
            <span class="sr-only"> Decreased by </span>
            <%= @total_pnl_percentage.round(2) %>%
          </div>
        </dd>
      </div>
    </dl>
  </div>
  <div x-data="{}">    
    <div id="tabs">
      <%= render 'tab' %>
    </div>
    <div class="text-left mt-4 ml-4 text-2xl"><%= @pool.name %> Pool Historical Chart</div>
    <div class="mt-8" x-show="'<%= @chart_type %>' == 'value'">      
      <%= area_chart @pool_price_hash, adapter: "highcharts" %>
    </div>
    <div class="mt-8" x-show="'<%= @chart_type %>' == 'apy'">      
      <%= area_chart @pool_apy_hash, adapter: "highcharts" %>
    </div>
    <div class="mt-8" x-show="'<%= @chart_type %>' == 'tvl'">      
      <%= area_chart @pool_tvl_hash, adapter: "highcharts" %>
    </div>
  </div>
